.tile {
  width: var(--tile-width);
  height: var(--tile-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: var(--border-thickness) solid var(--primary-color);
}

.tile__hint {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tile_hint--multiple {
  font-size: 0.8rem;
}

.tile .tile__hint {
  border: 1px solid var(--secondary-color);
}

.tile__result {
  background-color: var(--yellow-color);
}

.tile input {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  text-align: center;
  border: var(--border-thickness) solid var(--primary-color);
  padding: 0;
  text-transform: capitalize;
}

.tile input:focus {
  background-color: var(--gray-color);
  border-color: var(--gray-color);
  border: var(--border-thickness) solid var(--primary-color);
  outline: none;
}
